@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height: 100%;
}

.ReactFlipCard__container{
  width: 100% !important;
  height: 100% !important;
  position: relative;
}

body{
  scroll-behavior: smooth;
    height: 100%;
    width: 100vw !important;
    overflow-x: hidden !important;
    display: flex;
    flex-direction: column;
}

.element {
    background-color: #1B2A39;
    color: #ffffff;
    /* transition: background-color 2s ease-in-out; */
    /* animation: color-cycle 20s infinite; */
  }
  
  @keyframes color-cycle {
    0% { background-color: #eff8ff; } 
    15% { background-color: #f1f7ff; }  
    30% { background-color: #f4f1ff; }  
    45% { background-color: #e5f3ff; } 
    60% { background-color: #ebf7ff; } 
    75% { background-color: #f8f7ff; }
    85% { background-color: #F9F4FF; }
    100% { background-color: #eff8ff; } 
  }
  